CONFIG_ANY_TOOLCHAIN=y
CONFIG_VENDOR_NINTENDO=y
CONFIG_BOARD_NINTENDO_SWITCH=y
CONFIG_COREBOOT_ROMSIZE_KB_10240=y
CONFIG_CONSOLE_SERIAL_TEGRA210_UARTB=y
CONFIG_BOOTBLOCK_CONSOLE=y
CONFIG_BOOTROM_SDRAM_INIT=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="@UEFI_ELF@"
CONFIG_ARM64_USE_ARM_TRUSTED_FIRMWARE=y
# CONFIG_USE_BLOBS is not set
# CONFIG_HAVE_MTC is not set
# CONFIG_HAVE_MTC_TABLES is not set
# CONFIG_WARNINGS_ARE_ERRORS is not set
